.start {
  align-self: flex-start;
}
.end {
  align-self: flex-end;
}

.incoming {
  padding: 0.5rem;
  color: #FFF;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1.7rem;
  margin: 0.3rem 0;
  background-color: rgba(75, 75, 75, 1);
  align-self: flex-start;
}
.outgoing {
  padding: 0.5rem;
  color: #FFF;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1.7rem;
  margin: 0.3rem 0;
  align-self: flex-end;
  background-color: rgba(33, 106, 224, 1);
}
.username {
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
  text-align: right;
}
